body {
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-link:hover::before {
    width: 100%;
}

.nav-link.active::before {
    width: 100%;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#dropdown-menu {
    border-radius: 0.5rem;
    overflow: hidden;
}

#dropdown-menu.show {
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}
