<form method="post" action="{{ path('app_groupe_j_d_r_delete', {'id': groupe_j_d_r.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ groupe_j_d_r.id) }}">
    <button class="btn">Delete</button>
</form>
